/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */
html{
    background: rgb(248,248,248);
}

body {
    margin-top: 100px;
    background-color: whitesmoke;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#loginbtn{
    margin: 12px 12px 0px 0px;
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}


#signupForm label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: #ff3558;
}
#signupForm{
    margin-top: 50px;
    padding: 20px;
}
#roleform label.error{
     margin-left: 10px;
     width: auto;
     display: inline;
     color: #ff3558;
 }

 #newsletter_topics label.error {
    display: none;
    margin-left: 103px;
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
#signupformdiv{
    box-shadow: 2px 2px 20px gray;
    margin-top: 40px;
    margin-bottom: 40px;

}
#signupbtn{
    margin: 12px 12px 0px 0px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
#logIn{
    margin-top: 50px;
    border: 1px transparent;
    box-shadow: 2px 2px 20px gray;
}
#loginform{
    padding: 20px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        color: black !important;

    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
a:active{
    background-color: white;
    color: blue;
}
#viewpost{
    background-color:white;
}
.post{
    background-color: white;
    border:1px solid transparent;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px;
    padding: 5px;
}
#main-div-viewpost{
    margin-top: 75px;
}
#post{
    display: none;
}
.title {
    font-size: 20px;
    font-weight: bold;
}
.tag{
    color:dodgerblue;
}.title-tag{
    font-weight: bold;
 }
.sidenav-ul{
    margin-left: 0px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s;
    padding: 20px 0px;
    margin-top: 53px;
}
.sidenav-ul li{
    list-style-type:none ;
    padding: 2px;
}
.sidenav-ul a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: inline-flex;
    transition: 0.3s;
    width: 100%;
}
.fa-newspaper-o{
    padding: 4px 4px;
}
/*.active{*/
    /*background-color: rgb(245,245,245);*/
    /*!*color:white !important;*!*/
    /*border-right:4px solid rgb(204,24,30);*/
    /*width: 100%;*/
/*}*/
.fa-user-circle-o{
    padding: 4px 4px;
}
.side-nav li a {
    color: rgb(94,94,115);
}
.inner_post {
    padding: 10px 30px;
}
#login-btn{

}
/*Code for donation form*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}




/*form styles*/
#msform {
    width: auto;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    /*padding: 15px;*/
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}


#picture {
    /*display: none;*/
    padding: 10px;
    /*/ / background: #d8d8d8;*/
    /*/ / max-height: 510 px;*/
    /*/ / overflow-y: auto;*/
}


/*multiple file upload*/
.one-photo .fa-plus {
    margin-top: 35px !important;
    position: absolute;
    top: 25px;
    left: 45%;
}

.removePhoto {
    z-index: 100;
    position: absolute;
    text-align: right;
    margin-right: 5px;
    top: 5px;
    right: 5px;
}

.one-photo {
    text-align: center;
    color: #ccc;
    font-size: 13pt;
}
.one-photo {
    width: 130px;
    height: 130px;
    text-align: center;
    margin-top: 10px;
    border: 2px dashed #ccc;
    color: #ccc;
    font-size: 13pt;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.fileUpload {
    z-index: 10;
    margin-top: 0px;
    opacity: 0;
    height: 100px;
    position: absolute;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.preview {
    position: absolute;
    float: left;
    margin-top: -122px;
    width: 130px;
    margin-left: -2px;
    height: 130px;
}

.preview img {
    width: 130px !important;
    height: 130px;
}
#finalResult li{
    list-style-type: none;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: #555;
    background-color: #fff;


}
.search{
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('images/search.png');
    background-size: 30px 30px;
    background-position: 10px 4px;
    background-repeat: no-repeat;
    padding: 9px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search:focus{
    width: 100%;
}
.post_outer{
    padding: 20px;
}
.sidebar_active{
    background: rgb(245,245,245);
    color: #543a3a;
    font-weight: bold;
    border-right: 4px solid;

}
